.map
{
	border-style:solid;
	border-width:3px;
	border-radius:10px;
	padding:3px 5px;
	color:#000;
	text-align: center;
}
.datapackscreenshot img
{
	margin:0 auto;
	border-radius:10px;
	border-style:solid;
	border-width:1px;
	margin:3px 1px;
}
.mapscreenshot img
{
	background-color:#000;
}
.map ul
{
	list-style-type:none;
}
.valuetitle
{
	font-weight:bold;
	margin-bottom:4px;
}
.evolution_name
{
	font-weight:bold;
}
.mapnotfound
{
	text-decoration:line-through;
}
.value
{
	border-style:solid;
	border-width:0px;
	border-radius:10px;
	padding:2px;
	background-color:#fff;
	text-align: center;
	margin: auto 0;
}
.map h1
{
	margin: 0;
	font-size:1.5em;
}
.map h2
{
	margin: 0;
	font-size:1em;
	font-style:italic;
}
.map h3
{
	margin: 0;
	font-size:1em;
}
.map .subblock
{
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	padding:5px;
	margin:2px auto;
}
.item_details
{
	border-color:#13641C;
	background-color:#217D17;
}
.item_details .subblock
{
	border-color:#13641C;
	background-color:#5FC05F;
}
.map_type_outdoor
{
	border-color:#13641C;
	background-color:#217D17;
}
.map_type_outdoor .subblock
{
	border-color:#13641C;
	background-color:#5FC05F;
}
.map_type_city
{
	background:#5DA4C0;
	border-color:#154B7D;
}
.map_type_city .subblock
{
	background:#9FD0E0;
}
.map_type_cave
{
	background:#C0AC5C;
	border-color:#7D6515;
}
.map_type_cave .subblock
{
	background:#E0D89A;
}
.map_type_indoor
{
	background:#A659C0;
	border-color:#56137D;
}
.map_type_indoor .subblock
{
	background:#D79AE0;
}
.item_list
{
	margin-top:5px;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	color:#000;
}
.item_list .value
{
	background:#FFF;
}
.item_list_endline
{
	border-radius:0 0 10px 10px;
}
.item_list_title th
{
	border-radius:10px 10px 0 0;
}
.item_list_title .item_list_title_corner
{
	border-radius:10px 10px 10px 10px;
}
.item_list_title_left
{
	border-radius:10px 0 0 10px;
}

.item_list_title_type_outdoor
{
	background:#A7E0A2;
}
.item_list_type_outdoor
{
	background:#5FC05F;
	border-color:#217D17;
}
.item_list_title_type_city
{
	background:#9FD0E0;
}
.item_list_type_city
{
	background:#5DA4C0;
	border-color:#154B7D;
}
.item_list_title_type_cave
{
	background:#E0D89A;
}
.item_list_type_cave
{
	background:#C0AC5C;
	border-color:#7D6515;
}
.item_list_title_type_indoor
{
	background:#D79AE0;
}
.item_list_type_indoor
{
	background:#A659C0;
	border-color:#56137D;
}

.item_list_title_type_fight
{
	background-color:#FF9595;
}
.item_list_type_fight
{
	border-color:#D33A3A;
	background-color:#F34A47;
}
.item_list_title_type_fire
{
	background-color:#ffb263;
}
.item_list_type_fire
{
	border-color:#d36225;
	background-color:#f38233;
}
.item_list_title_type_earth
{
	background-color:#E49930;
	background: linear-gradient(45deg, #E49930 25%,
	#B0CC51 25%, #B0CC51 50%, 
	#E49930 50%, #E49930 75%, 
	#B0CC51 75%);
}
.item_list_type_earth
{
	border-color:#50350D;
	background-color:#BF904E;
	background: linear-gradient(45deg, #BF904E 25%,
	#8b0 25%, #8b0 50%, 
	#BF904E 50%, #BF904E 75%, 
	#8b0 75%);
}
.item_list_title_type_ground
{
	background-color:#A46E22;
}
.item_list_type_ground
{
	border-color:#301F07;
	background-color:#94703C;
}
.item_list_title_type_stone
{
	background-color:#E49930;
}
.item_list_type_stone
{
	border-color:#50350D;
	background-color:#BF904E;
}
.item_list_title_type_normal
{
	background-color:#F5F5F5;
}
.item_list_type_normal
{
	border-color:#B5B5B5;
	background-color:#D4D4D4;
}
.item_list_title_type_bird
{
	background-color:#C560FF;
}
.item_list_type_bird
{
	border-color:#6C1886;
	background-color:#A237F3;
}
.item_list_title_type_poison
{
	background-color:#E881FF;
}
.item_list_type_poison
{
	border-color:#9C43AB;
	background-color:#EC6DFF;
}
.item_list_title_type_water
{
	background-color:#65D4FF;
}
.item_list_type_water
{
	border-color:#3A5295;
	background-color:#5DA8E5;
}
.item_list_title_type_ice
{
	background-color:#BDFFFF;
}
.item_list_type_ice
{
	border-color:#6FA5BE;
	background-color:#6AE7FF;
}
.item_list_title_type_electric
{
	background-color:#FEF205;
}
.item_list_type_electric
{
	border-color:#C7954F;
	background-color:#EFCB5F;
}
.item_list_title_type_spectre
{
	background-color:#D3FF64;
}
.item_list_type_spectre
{
	border-color:#B3C74F;
	background-color:#D0EF5F;
}
.item_list_title_type_plant
{
	background-color:#71DA5E;
}
.item_list_type_plant
{
	border-color:#22582B;
	background-color:#43AA54;
}
.item_list_title_type_psy
{
	background-color:#4A903E;
}
.item_list_type_psy
{
	border-color:#122F17;
	background-color:#2D7238;
}
.item_list td, .item_list th
{
 	padding:4px;
}
.locationimg
{
	float:left;
}
.monster_type_normal
{
	border-color:#B5B5B5;
	background-color:#D4D4D4;
}
.monster_type_normal .subblock
{
	border-color:#B5B5B5;
	background-color:#D4D4D4;
}

.monster_type_fight
{
	border-color:#D34444;
	background-color:#F34E4E;
}
.monster_type_fight .subblock
{
	border-color:#D34444;
	background-color:#FF8888;
}
.monster_type_fire
{
	border-color:#d36225;
	background-color:#f38233;
}
.monster_type_fire .subblock
{
	border-color:#d36225;
	background-color:#ffb263;
}
.monster_type_earth
{
	border-color:#50350D;
	background-color:#BF904E;
	background: linear-gradient(45deg, #BF904E 25%,
	#8b0 25%, #8b0 50%, 
	#BF904E 50%, #BF904E 75%, 
	#8b0 75%);
}
.monster_type_earth .subblock
{
	border-color:#50350D;
	background-color:#E49930;
	background: linear-gradient(45deg, #E49930 25%,
	#B0CC51 25%, #B0CC51 50%, 
	#E49930 50%, #E49930 75%, 
	#B0CC51 75%);
}
.monster_type_ground
{
	border-color:#271906;
	background-color:#896738;
}
.monster_type_ground .subblock
{
	border-color:#271906;
	background-color:#B07625;
}
.monster_type_stone
{
	border-color:#50350D;
	background-color:#BF904E;
}
.monster_type_stone .subblock
{
	border-color:#50350D;
	background-color:#E49930;
}
.monster_type_bird
{
	border-color:#371364;
	background-color:#6526C5;
}
.monster_type_bird .subblock
{
	border-color:#371364;
	background-color:#B36DDE;
}
.monster_type_poison
{
	border-color:#833896;
	background-color:#B863E9;
}
.monster_type_poison .subblock
{
	border-color:#833896;
	background-color:#D995DE;
}

.monster_type_water
{
	border-color:#375B88;
	background-color:#5BA7E5;
}
.monster_type_water .subblock
{
	border-color:#375B88;
	background-color:#68D5FF;
}
.monster_type_ice
{
	border-color:#65B7C1;
	background-color:#6DE7FF;
}
.monster_type_ice .subblock
{
	border-color:#65B7C1;
	background-color:#74EFFF;
}
.monster_type_electric
{
	border-color:#C7954F;
	background-color:#EFCB5F;
}
.monster_type_electric .subblock
{
	border-color:#C7954F;
	background-color:#FFF564;
}
.monster_type_spectre
{
	border-color:#ABC74F;
	background-color:#C1EF5E;
}
.monster_type_spectre .subblock
{
	border-color:#ABC74F;
	background-color:#CEFF64;
}

.monster_type_plant
{
	border-color:#22582B;
	background-color:#43AA54;
}
.monster_type_plant .subblock
{
	border-color:#22582B;
	background-color:#71DA5E;
}
.monster_type_psy
{
	border-color:#102B15;
	background-color:#2B6F37;
}
.monster_type_psy .subblock
{
	border-color:#102B15;
	background-color:#4D9540;
}
.type_label
{
	border-radius:4px;
	padding:1px 15px;
	font-weight:bold;
	text-shadow: 1px 1px #000000;
	color:#fff;
	margin:1px 5px;
}
.type_label a
{
	display:inline;
	color:#fff;
	text-decoration:normal;
}
.type_label_fight
{
	background-color:#F34D4D;
}
.type_label_fire
{
	background-color:#f38233;
}
.type_label_earth
{
	background-color:#BF904E;
	background: linear-gradient(45deg, #BF904E 25%,
	#8b0 25%, #8b0 50%, 
	#BF904E 50%, #BF904E 75%, 
	#8b0 75%);
}
.type_label_ground
{
	background-color:#926E3B;
}
.type_label_stone
{
	background-color:#BF904E;
}
.type_label_normal
{
	background-color:#B5B5B5;
}
.type_label_bird
{
	background-color:#8A47C5;
}
.type_label_poison
{
	background-color:#B46DC5;
}
.type_label_water
{
	background-color:#2E9EF3;
}
.type_label_ice
{
	background-color:#75E7F3;
}
.type_label_electric
{
	background-color:#FFEC10;
}
.type_label_spectre
{
	background-color:#CBFF0F;
}
.type_label_plant
{
	background-color:#71DA5E;
}
.type_label_psy
{
	background-color:#498E3D;
}
.type_label_list
{
	margin:0 auto;
}
.map_list
{
	float:left;
	margin:3px;
}
#automaticallygen
{
	overflow: auto;
	width: 100%;
	clear:both;
	margin-top:10px;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	text-align:center;
}
@media screen and (max-height: 600px)
{
    #automaticallygen {
    display:none;
    }
}
.very_effective
{
	background-color:#6BDD4B;
	font-weight:bold;
}
.no_effective
{
	background-color:#A8ACDD;
	font-weight:bold;
}
.not_very_effective
{
	background-color:#DD5649;
	font-weight:bold;
}
.genderbar
{
	border-spacing:0;
	border-collapse:collapse;
	width:150px;
	height:20px;
}
.genderbar td
{
	padding:0;
}
.genderbarmale
{
	border-radius:20px 0 0 20px;
	height:100%;
	background-color:#6ae;
	background-image:url('/official-server/images/genderbar/male.gif');
	background-position:right;
}
.genderbarfemale
{
	border-radius:0 20px 20px 0;
	height:100%;
	background-color:#EDd;
	background-image:url('/official-server/images/genderbar/female.gif');
	background-position:left;
}
.genderbarunknown
{
	border-radius:20px;
	height:100%;
	background-color:#aaa;
	background-image:url('/official-server/images/genderbar/unknown.gif');
}
.flags
{
    float:left;
    background-repeat:no-repeat;
}
.flags16
{
    width:16px;
    height:16px;
    background-image:url('/official-server/images/flags.png');
}
.flags32
{
    width:32px;
    height:32px;
    background-image:url('/official-server/images/flags-128.png');
}
.flags64
{
    width:64px;
    height:64px;
    background-image:url('/official-server/images/flags-256.png');
}