body {
	color: #606060;
	font-size: 13px;
	font-family: Arial, tahoma,"Times New Roman",Georgia,Serif;
	text-decoration:none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	min-width:400px;
    background: url('/images/fond.jpg') repeat center center fixed #05c3bb; 
    background-size: cover;
}

a:link {
	color: #606060;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #4CC2FF;
}

a:active {
	text-decoration: none;
	color: #000000;
}

nav table {
    background: #000;
    margin:0 auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
	font-family: Arial, tahoma,"Times New Roman",Georgia,Serif;
    height:40px;
    min-width:800px;
}

nav td {
    /*background: linear-gradient(to bottom, #32bef3 0%,#32bef3 50%,#00a1df 51%,#00a1df 100%);*/
    background: #000;
}

.menutext {
    padding:0 40px;
}

.menuselected
{
    background: #1e5799;
    background: linear-gradient(to bottom, #32bef3 0%,#32bef3 50%,#00a1df 51%,#00a1df 100%);
}

nav td {
    background-color:#222;
    transition: background 200ms ease-in 100ms;
}

nav td:hover {
    background: linear-gradient(to bottom, #32bef3 0%,#32bef3 50%,#00a1df 51%,#00a1df 100%);
}

nav a:link {color: #fff;}
nav a:visited {color: #fff;}
nav a:hover {color: #fff;}
nav a:active {color: #fff;}

#container {
    border: 0;
    clear:both;
    display: block;
}
h1
{
    clear:both;
}
h2
{
    clear:both;
}

@media screen and (min-width: 700px)
{
    #container {
    background-image: url("../images/back-left.png"), url("../images/back-right.png");
    background-position: left top, right top;
    background-repeat: repeat-y;
    padding:0 67px;
    }
}

@media screen and (min-height: 600px)
{
    #header  {
        border: 0;
        display: block;
        padding:0;
        margin:0 0 15px 0;
    }
}

#back_menu {
	margin:0;
	padding:0;
	height: 50px;
	border: 0;
	text-align:center;
	display: block;
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(247,247,247,1) 55%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(55%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(247,247,247,1) 55%,rgba(255,255,255,0) 100%); 
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(247,247,247,1) 55%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(247,247,247,1) 55%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(247,247,247,1) 55%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=0 );
	box-shadow:inset 0 0 10px #ccc;
	border:0;
	width:100%;
}

#back_menu table {
	margin:0;
	border:0;
	border-spacing:35px 0;
	border-collapse:separate;
}

@media screen and (max-width: 650px)
{
    #back_menu table {
    border-spacing:4px 0;
    }
    .droplowwidth {
    display:none;
    }
    #article {width: 90%;margin:10px 0;}
        .menutext {
    padding:5px;
    }
}

@media screen and (max-width: 550px)
{
    #back_menu table {
    border-spacing:0;
    font-size:80%;
    }
    .menutext {
    padding:0;
    }
    nav table {
        width:100%;
    }
}

@media screen and (max-width: 850px)
{
    #sbanner {
    display:none;
    }
    .footerlowwidth {
    display:none;
    }
    #footer {height: 20px;}
    #back_menu table {
    border-spacing:8px 0;
    }
    nav table {
        min-width:0px;
    }
}

@media screen and (max-height: 450px)
{
    .droplowheight {
    display:none;
    }
}

#back_menu tr {
	height:50px;
}

#menu a{
	margin-left:5px;
	padding-top:0px;
}

#menu img {
	padding-top:0px;
}

#body a:link {
	text-decoration: underline;
}

#body a:visited {
	text-decoration: underline;
}

#body a:hover {
	text-decoration: underline;
}

#body a:active {
	text-decoration: underline;
}

#title:first-letter  {
	font-size: 1.2em;
	color: #00C8F2;
}

#title  {
	border: 0;
	display: block;
	color: #BFBFBF;
	text-align:center;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.title:first-letter  {
	font-size: 1.2em;
	color: #00C8F2;
}
.title  {
	border: 0;
	display: block;
	color: #BFBFBF;
	text-align:center;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.text {
	color: #606060;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	margin-left:1px;
}

.text:first-letter {
	font-size: 1.2em;
	color: #00C8F2;
}

footer  {
	height: 130px;
	border: 0;
	text-align:center;
	clear:both;
	display: block;
    color:#eee;
    background-color:#222;
    padding:10px;
}
#partners
{
    margin:5px;
}
#partners td { 
    padding: 15px;
}

@media screen and (max-width: 700px)
{
    #footer  {
    display: none;
    }
}
@media screen and (max-height: 430px)
{
    #footer  {
    display: none;
    }
}

#footer img {
	float:left;
	display:block;
}

#footer a:link {
	text-decoration: none;
	color: #0091CC;
}

#footer a:hover {
	text-decoration: none;
	color: #4CC2FF;
}

#copyright {
	height:20px;
	text-align:center;
	padding-top: 8px;
	padding-bottom: 2px;
	margin-top: 17px;
	color: #000000;
	float:left;	
	display:block;
	width:100%;
	background: -moz-linear-gradient(top, rgba(242,242,242,0.5) 0%, rgba(239,239,239,0.5) 9%, rgba(211,211,211,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,0.5)), color-stop(9%,rgba(239,239,239,0.5)), color-stop(100%,rgba(211,211,211,1)));
	background: -webkit-linear-gradient(top, rgba(242,242,242,0.5) 0%,rgba(239,239,239,0.5) 9%,rgba(211,211,211,1) 100%);
	background: -o-linear-gradient(top, rgba(242,242,242,0.5) 0%,rgba(239,239,239,0.5) 9%,rgba(211,211,211,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,242,242,0.5) 0%,rgba(239,239,239,0.5) 9%,rgba(211,211,211,1) 100%);
	background: linear-gradient(to bottom, rgba(242,242,242,0.5) 0%,rgba(239,239,239,0.5) 9%,rgba(211,211,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f2f2f2', endColorstr='#d3d3d3',GradientType=0 );
	box-shadow:inset 0 0 10px #ccc;
}

img {
	display:block;
	border:0;
}

#logo
{
    background-color: #028ccf;
    background-image: url("../images/logo-text.png"), url("../images/header.png");
    background-position: center center, left top;
    background-repeat: no-repeat, repeat-x;
    box-shadow:inset 0 0 10px #000000;
    height:120px;
}

@media screen and (max-width: 800px)
{
    #logo
    {
        display:none;
    }
}
@media screen and (max-height: 600px)
{
    #logo
    {
        display:none;
    }
}

.hosting_important strong
{
	font-size: 1.5em;
}

.screenshot
{
	-moz-box-shadow: 0 0 7px #555;
	-webkit-box-shadow: 0 0 7px#555;
	box-shadow: 0 0 7px #555;
	margin: 10px;
	float:left;
}
.screenshot:hover
{
	filter: contrast(120%) drop-shadow(0 0 5px #88d);
}
.separation
{
margin: 0 auto;
}
@media screen and (max-width: 800px)
{
    .separation  {
    display: none;
    }
}
.screenshotblock
{
	padding:0 70px;
}
.tiers_img {
	padding: 10px;
	border-radius: 5px;
	margin:8px 5px;
	border: solid 1px #CCC;
	box-shadow: 0 0 5px #AAA;
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 27%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,rgba(254,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.labelDatapack
{
    width: 150px;
    height: 23px;
    border-radius: 5px;
    margin:8px 5px;
    border: solid 1px #CCC;
    box-shadow: 0 0 5px #AAA;
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,255,255,1) 27%, rgba(221,221,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,rgba(254,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,255,255,1) 27%,rgba(221,221,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    padding:7px 10px 0px 10px;
    float:left;
    vertical-align:middle;
}

.labelDatapackMap
{
    width:16px;
    height:16px;
    background-image:url('/official-server/images/flags.png');
    background-repeat:no-repeat;
    background-position:-32px -16px;
    float:left;
    margin-right:7px;
}

.labelDatapackTop
{
    width:16px;
    height:16px;
    background-image:url('/official-server/images/top-1.png');
    background-repeat:no-repeat;
    float:left;
    margin-right:7px;
}

.labelDatapackBot
{
    width:16px;
    height:16px;
    background-image:url('/official-server/images/flags.png');
    background-repeat:no-repeat;
    background-position:-48px -16px;
    float:left;
    margin-right:7px;
}

.labelDatapackMonster
{
    width:16px;
    height:16px;
    background-image:url('/official-server/images/flags.png');
    background-repeat:no-repeat;
    background-position:-16px -16px;
    float:left;
    margin-right:7px;
}

.labelDatapackItem
{
    width:16px;
    height:16px;
    background-image:url('/official-server/images/flags.png');
    background-repeat:no-repeat;
    background-position:-32px 0px;
    float:left;
    margin-right:7px;
}

.monster_list
{
    width:300px;
    float:left;
    margin:5px;
}

.skill_list
{
    width:320px;
    float:left;
    margin:5px;
}

.plant_list
{
    width:400px;
    float:left;
    margin:5px;
}

.skilltm_list
{
    width:450px;
    float:left;
    margin:5px;
}

.itemmonster_list
{
    width:200px;
    float:left;
    margin:5px;
}

.itemskillmonster
{
    float:left;
    margin:5px;
}

progress {
    background-image:
       -moz-linear-gradient(top, 
                               rgba(0, 0, 0, .25), 
                               rgba(255, 255, 255, .25)),
       -moz-linear-gradient(left, #eee, #eee);
    background-color: #f3f3f3;
    border: 0;
    width: 100px;
    height: 12px;
    border-radius: 3px;
}
progress::-webkit-progress-bar {
background-image:
       -webkit-linear-gradient(top, 
                               rgba(0, 0, 0, .25), 
                               rgba(255, 255, 255, .25)),
       -webkit-linear-gradient(left, #eee, #eee);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;
}
progress::-webkit-progress-value {
background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #4b5, #4b5);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress::-moz-progress-bar {
background-image:
       -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -moz-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -moz-linear-gradient(left, #4b5, #4b5);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.progress3::-webkit-progress-value {
background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #4b5, #4b5, #ff9);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.progress3::-moz-progress-bar {
background-image:
       -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -moz-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -moz-linear-gradient(left, #4b5, #4b5, #ff9);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.progress4::-webkit-progress-value {
background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #4b5, #4b5, #ff9, #f97);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.progress4::-moz-progress-bar {
background-image:
       -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -moz-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -moz-linear-gradient(left, #4b5, #4b5, #ff9, #f97);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.important {
    background-color:#fff598;
}

#sbanner {
    text-align: left;
    background-image: url(/images/widget01-inside.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width:626px;
    padding: 10px 100px;
}
article {
    text-align: left;
    background:#def;
    border-radius: 15px; 
    width:80%;
    margin:20px 0;
    padding: 15px;
}

.bigbutton {
    float:left;
    margin-right:7px;
    text-align:center;
    font-size:200%;
    font-weight: bold;
}
