*.pro.user*
*build-desktop*
*.qm
*build-Desktop-Debug*
*build-Desktop*
*Desktop-Debug*
*Desktop*
*build*
*kate-swp
/datapack-*
/pack/
*official-server/datapack-explorer/*
*official-server/wikicache/*
*benchmark-tracking/results*
*benchmark-tracking/failed*
key-nextcoin.txt
key-nextcoin-sold.txt
wen
wfr
w
official-server/datapack-explorer-generator.sh
config.php
backup-parse.php
p.php
FGETNw3g7uSX3J9c
FGETNw3g7uSX3J9c*
animatedbackground
animatedbackground/*
animatedbackground*
paiment
paiment/*
paiment*
95xcwCtkELBuUa8fqqtztnSx
95xcwCtkELBuUa8fqqtztnSx*
95xcwCtkELBuUa8fqqtztnSx/*
datapack
datapack*
datapack/*
testOpenGL
testOpenGL/*
testOpenGL*
wasm
wasm/*
wasm*
