<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="BRULE Herman Jacques Roger">
</head>
<body style="background-color:#eee;">
<div style="background-color:#fff;width:650px;height:300px;border-radius:5px;margin:0 auto;">
<div style="width:330px;border-radius:5px;margin:0 auto;padding:20px 0;">
<a href="https://www.confiared.com/"><img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAPwAAAB0CAMAAACWlq/gAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
AK7OHOkAAAH+UExURQAAAP///wEBAf///8jIyImJiVRUVAEBAQEBAQEBAf///wEBAQEBAf//////
/wEBAQEBAQEBAf///////////wEBAZGRkQEBAQEBAf///wEBAf///////wEBAc/PzwEBAQwMDEpK
Sv///////+vr6////3Jycvj4+CwsLP////////////////////////////////r6+v///////x0d
Hf///////97e3v///7m5uaqqqv///01NTf///4CAgBcXF////yEhIf///7Ozs////7KyskFBQfLy
8oKCgv///9HR0f///3l5ee3t7VpaWnBwcNfX1////////8DAwOXl5f///////11dXZqammdnZ6Ki
ojY2Nv///////////////6Ojo19fX2xsbP///////9nZ2f///09PT/////7+/lRUVP39/ff3987O
zubm5r6+vvz8/IuLi+vr69fX1////6+vr5eXl7e3tzIyMu/v74KCgmZmZmFhYWpqarq6uu7u7isr
K0RERBcXF2NjY+Dg4MLCwv39/fn5+fPz876+vtnZ2fX19WNjY/X19f7+/mtra87OztbW1u3t7dXV
1aSkpD4+Pnp6et/f3/b29sXFxQKhAv///4nTiUW6RbzmvBOnE8zszO757mfHZ5rZmt3y3SSuJDW0
NXjNeFbAVqvgq/GhKOIAAACadFJOUwB3M7vu3dC/WYxEJrJ/1H9zDfY7w0DfGZlJZipmpvBMwc6j
CPih1/3IWpLl7jNMX139GRHFmVX0iOrlxc6y28MWxYHo3efM+9tu8KrZ+dHW8rTM7PYFTtLh1OPK
+DgncOTT1tY90ZCKIvm71vZez635bPCF563Jplijhau0lMjjl0FehehQ+vz6fb2YOe7mt72ayeDF
aY/WwtB9v86OAAAPkUlEQVR4AeWc93/bRprGRxSlAVUsyUVysey4Z917cewkLnbs86Y72Uuytym7
t5e728uVy/Xee+98BgBBgoX/5REgwJcvZjChoaxgffz9cSS+wpczGAwGeCS2BGfmpq7s3ydeOHYs
Tt/HkJPiBeMwCLxgff8dxDQ81WwB+8ULxU5Aue16hAIWxdZl3/4rUxH75yK+FBMAoJ7gAtNiy0BT
9dz+qakd4iQMnJ6OeDJFc3mefAd4TzyfXJqbOyJ0fu7YfSQchp2TpmKnAT+1BxBPAztxfzri+lT0
lZZ/Ndo57MXbj/dl3MFoNVVEy4sIkWGfodg04KbyAXBp4A7GYVEmry9uB4hte8QYx4ZTtddSCgBU
XcN3I3qqBSwaio3Le8BcPAUyvlOmOoYEnpce8Y9EykUAbTp0k/z4dGYqBpIfXusA1NtuRFcpBewU
ZXEu7qiGcoe92GsFAHBOJJwH+vUEBcCzyxuLkbwCfmf5d4GgTgAQJRHP355bJ3wVgOaubUCT7L5J
3lyMKjSBm/L3WRUfOC3K4RUADbfOaTdGfb+P9RKARr58G3nFFH0/qMo/IPlSr/3vAmjVdVoA4vP+
x+znHoB6PrnFFHUz3pB/+HzIn6QhyfEbwA8/EEJsBzrUrOzyucVolgQgvwu0ypf/EEA3ZwgHwGMh
zvJx3rPL5xYj+QbwcIZdM7rA9RLcPzilDVPm+USI22BCPs3cJnKL+eMnziyXV8BUCfKPgdDPFQEe
xxd59hsNs3zb7SrPsxQbV53R5H/LcRyxyZwCevUcVLxWfQz0eTPJt1PVZJFrK+aNF1i9AfRYyRkp
pdhczgNhPYcmgH8wfD29pNN6qoFUHjHWYiTvAtUq4NbZiSDlgthcbmuTc0+p5sj93vr8Ds3IB1S7
20dE2hYCT6vvW4tRlQ7wjkm+JjaVI9nzuRPG/ecO3X9GSvn3+lK+gRHjR/+SvRjYWgDly88BXvbi
FqNSd/k3QFubB2N2ZuRnbcWY/PAHPmt4bdPlF9NuJYcLMzNvAkjd36aLfIfOXzz9v6sXz8Q/ohlr
1VaMyTdVBF8WSin3is2E9hjoruSWlJfvjdwlncd0rWoDRxfSYUPyVVsxkmcweUdsJrS7RNcgGXFo
5ubbMuITGp4uzVgh8Ml8Ik93am/Yih0wLw5otb/58tQfNO8wVmn91yW1FvBdh8m7QNVarGqWp0+X
Lh8CL0vGUTrmPlzqZzxYElP8NvWAtdgk8pWy5GnSjVlynOVoxAIhySh20jP5OgBrseddnkbq7l+5
flaItZp8ACgS7vOT3iKvF/s9mjh1usDPli7fAl6VUv7SLyfbt38Ousj3hts5dNIfZPIhYC3GfplB
S/sVsam8B3T4qv3CW3eO/yJi7n5wnl/M0KauwsfLT4DeeD+/Yy02gbzYXK4ATdPCNegGAH4Yb1yS
Hbl2gGvrbJHgATetxZ4/+f2ZnYxOgIhGp+73EUEjnR9+ANz5X8Blx28txuQ9AJ7XKfembl/2XsRv
hUF/2H+9ACAbF2zLug989JUmby/WZ10NwC3lvoa4bRmNfh90EndpQktP+p8MXWmJ9769GN+tRfny
e4CADAhtRataaoA/ftID4Jfqt+zFWmw9ewJwy7mpI7bRcDSQrxIAWfkD8trExRrU82Xc1FHXo1vP
o13Po0/yJPCWpRhHGeQdsencBdC0uVuOvpGRl/9mKdYJMvuDcMu6qSPezT1g39UEfG32Z/cxFUux
BrKP9NxSb+roOaUyddVYx7rK8xpsZxokTzO2Yymm3fNl5SvlPaXtaHcbgdJXa4pkjfL5xcDl+6XL
s9cjFZvaXQ8gBR8JfXbSq+wSdTm/GPjKv0vy5dzUEee+DwCtdFC3uw0+nTWB92cfvgyEJGSSr+UW
w7VIluiQfEk3dcQPDiPG85TyQsQ02SCN9vTY0CV56r5abrFH2d0MGgm95M5flMeenwdh2Fe/I+Vo
F9J3XaVCkqcT11zsxOplmZX3gHhY9BHxUjnyxC+8egBDjj7g7w70gGvJdma/5TWQEnoBQKySACv2
PTmAP5mMx3pHpaUeSbqpK4ll+dLs7MzM7MtSzgDKjWkqpbzhpoy8g3GOgvPmZSnXDMVi4or8cWfK
gVejfpc1US6OTDmEDMPj+1XE/KRaXZ059DmzP7B6mWZsXkyTpwvI9mNX/1TGlC4v5nfLhHtgPIob
58XFq/vnzoy8Xp79MyFERRKVTDFiFvCU6rlum5YOH/+6EKJWtjzhLKR9v1qtVv/j36ev/PZg7Mb9
TmflLpniZLrY0YslvAQi8DxPNYCHe0meburK5OCSHLK+dz7qPzliWSSsyZSaVZ4V+01kOSF3kzx9
tGQqFceprKUT14hdIoXaMvJ7LcWOzE1NPZme/o2R+/H448nJsVR5DoNdNHJpCTbsrYVazXHWuLzt
xKXPvjY7uBAcSuaIeFjsEjaODAIdZ0oIdh0ksSVq3XWwMi9S1irPtDBdkvw02e3MW7TPXp8+jYSd
1HWbE+xyajHLjuNUvtXrKX2hFj5FllPHzm7hYBeXX7APdyR4ntcg//NbN9hVcZylWm09sZ//pleG
ui7tHjVb4VD/Q0FszWDXSqVScazyhqeb7W5ombiKB7t4gKx8uDzRDC32RYNdPED23MkTfgvAXWGi
cLCLB8g+HXw9uB/lBKemro4usqzRErm0DB3eP0dsRTLyRGS/RxgoHOziATLO9nNDd61R4+LVY6cm
GToXz195DxE7F3fkFsnIE31gmzBQNNjFA2SafXLZ0BoZO6boN6x9v+c2CLp48SIWeT8w/oFzRYNd
WoAM9ej76Sml+g0gXltojawrj6UDLmyN0gOXvhybguYGZ8vi9OKOH20b9Q/LMOpFdHk6wGN6YqZo
sEsPkMHXYiCns400x6Q+6Hfb8V+5MliSR62nPoynCo1+s5M8DwkB4K6xCMn7WopLG3evFA526QEy
uFoMZFpvpNEWD7je6GeLqfD3f6CvUgO2sd8MALyrFxmX76LPX3rRxv27xYNdeoBsYvnXt8c+/Wab
fjayDIEf0w7GAFcBXlt/DwLGIq7lOcGiNuYLB7v0ABl59oGrJJ9pFIs0x/C30r1BawfZp3rK1D9d
GItw+cDnB62lxAoGu0wBsmadXR8HXNEa2VdCeDTxeACfXhV3T2gai3B5uEz+Ky0lVjDYZQqQKc1z
ytQorgNd/bgV26Mel/frZvvuM8pXd7GUWPFg138ZAmTsVDlC8plGaiVCUFNI8la6WhGma5BfWGEp
scLBrlf1ABn3dJxd84kmbzTKg5p4wMaGXkSX588GHZYSKxzsOmoIkHlaDGTO0GiVjwlo6TgxZnm+
wP1IrrOUWOFglylA5rFXraSkfAFr1OR9VzF5RRIZmg0gVOmBGYpw+T6fk+6M9kKObCjY9cAQIOM5
CpN8VZd3u62QVuX29K3fQIzn05sgmSJwc1KsCnifNvvnNhTsOmEKkDXoFMCNeN/+DPRG9qddDOG6
LbN8AwkNP17maEXYAPXQ4nZv0Vb54oaCXeYAWeat6IoQ0BuN8vy8agM9c1z1uJSP4hV5CL3IIS7f
8JndNUny0xsKdpkCZEXkO6rr+h7JJ/SpYwgvch9wHDF6kVmqklkeqNiO5E9vJNiVEyAbD1YMH00B
WqN+xunyLsnzEM7l1Wr1xswJAG9qRZi8NmYeyTH5DQW7cgJkHV6MohnUaJUnGgZ5AJffBDGJPEWc
2bPBDQW7cgJkruY5DUPjJSDIk+/6yTxjnO9WMU4wmbwbncj82elGgl15ATKXfZM1kueNAkCefE/x
qUT/NbenUiaT98h9QQzZSLArL0DmsrUcyWcaz+p/+3/S33Ph5r3DrICndIU1KP73V0b5Do16h+SL
BrtyA2SKeS6djffXDI26PEi+kT12GnGUOCB4kdxz/rPIfX1lopSYVT43QKZoQSy/9+DXEKM1slWC
NyBg8pm/7LKdBf5TVkSTJxSGV8nKZCkxq3xugEzRQvZEItlt102NbpuvTwKVNPhA0GbyoXaZIbQi
fCuW7fF8Lh1KiRUPduUGyEiem+uNrpt8grYnXX4/QjMM+ajs9U0vMi7fYncFF/6IpcSKBrvyA2T0
+2SujI0kn9mZBYAeM/P4kagePYTWijDCNsmFyb+uSrhdONiVGyBL2hVJkjw1cvmwqa+dQ5+ZudmX
0UNmyoq4dcJr8YH9CosKFQx26QEyLt9hJ61nbEyqNUk9Z1bzwOf/tuvSRK0VYXho8x3WkywlVizY
1a0/C/Q3uHwOlDPg/0ayAAoqc8G7S11fNNj1bFtMMDYqi/w9oMF3EzoF5dnQbgE4RymxYsGufv2n
LD97AdQrAPjVj/BV3Uo3M2b67Cl9sWBXLz9AZsCFb2pUtnj4cdL1gTcuAEHH/FjJigve9X6DPaUv
FOyyBch0XLjPLB/nTGltdCteexmO8ZvlobJP6S+RfYFgF8EDZLkyrmUqoim8Oy4f6bq07XnrAgCP
11EBDEW4K6Cd9dTzhYJd1gDZxPKtOHnTVMnYieuTvLwLhG57FCO79ScAEI4WCh0VAtCL6KEkqLw3
cwoFu6wBMh0PTVNjgCxupxe/vQEckvIfv0bywg8QRW4qnyIm8PoDUyTwIrp8ACBk7n8siALBLtce
IKP/Y53sOoRQpkbO0yqIe5Hsh1+zxEpFvL74Tzyx88U1rYghkQU0abbDZ5QBEAWCXRMEyCbljer0
vw5SGbMPBzVoc+7AFzKRnb5PiZX4RvxfHjzFkHc+PiTlrWtxkerNtIg0yofj7lIeFAkFgl3WANnk
HP1cDhCOTBlsy75zY+ajhzx78xezSWJFRKysy9dmP5qJ22LijbcFKpKVV8BRoJm6H+cRiGcNdtkD
ZNSlQ27MDDj0xQFE/C1rlBE1ks/iiESX7b2t7JYaC/O58m60Ww6Eyf368fQDgjNpsGuCAJk0UhM1
3jCZvNjFAxkre2WG3fPCIB/NnSEiPom6ntwj6Cn9swW7Dk8SIDPL1EyN/CPrtdrejLyokXxMhddx
BiJU5CbQTC4ZCZ/Jt4EwiPboZIx+1k8e7Nrxn9WYm9YA2cTyBwcfj2MZlcp8Ksvl12rrmRzS2t71
tNedONRERf4O4LnFT4b/pQ7461u6e/FglzVAplMRy6ZGfQDWdi9Fb28w5iuV7Jv3uxxqW2EL1pi/
HMyd6fT1+T8D2/7K4F442FWzB8iSMFXMkjNgTTimxm+d81eeRK93sy6qfHlJiGV9tisa7JogQFYq
XJ6GJbkXD3ZNEiArX55fOZbJvXiwq3iArCT52sF0Rtq98u0Hu55b+WjuHAvok3vRYNfWYFm/ZIi1
lW8j2LX1+X81fAXO9e5H5AAAAABJRU5ErkJggg==" width="252px" height="116px" alt="CatchChallenger" title="CatchChallenger" /></a>
</div>
<div style="border-top: 1px solid #eee;"></div>
XXXBODYXXX
</div>
</body>
</html>
